<div class="container">
  <h1 class="title">QR Code Generator</h1>
  <div class="block">
    <div class="block--inputs">
      <div class="input-block">
        <input
          id="input-url"
          type="text"
          required
          class="input"
          placeholder=""
          [(ngModel)]="inputUrl"
        />
        <label for="input-url">Enter Your Url (www.sagta.com) </label>
      </div>
      <div class="input-block">
        <input
          id="input-qr-name"
          type="text"
          class="input"
          placeholder=""
          [(ngModel)]="inputName"
        />
        <label for="input-qr-name">Enter Name for QR code (optional) </label>
      </div>
      <div class="input-submits">
        <a href="#" (click)="generateQR()">Generate QR Code</a>
        <a [href]="qrCodeDownloadLink" [download]="inputName"
          >Download QR Code</a
        >
      </div>
    </div>

    <div class="block--qr">
      <qrcode
        [alt]="'QR Code Generator'"
        [allowEmptyString]="true"
        [qrdata]="link"
        (qrCodeURL)="onChangeUrl($event)"
        [cssClass]="'center'"
        [elementType]="'canvas'"
        [errorCorrectionLevel]="'Q'"
        [imageSrc]="'../assets/sagta-logo-big.png'"
        [imageHeight]="96"
        [imageWidth]="96"
        [margin]="4"
        [colorDark]="'#292929'"
        [width]="280"
      ></qrcode>
    </div>
  </div>
</div>
