// * LAYOUT MAIN
.container {
  margin: 48px auto 0;
  text-align: center;
  max-width: 1120px;

  @media only screen and (max-width: 1024px) {
    max-width: 928px;
  }

  @media only screen and (max-width: 768px) {
    max-width: 688px;
  }
  @media only screen and (max-width: 430px) {
    max-width: 352px;
  }
}

.block {
  margin-top: 48px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }

  &--inputs {
    margin: 0 12px;
    background-color: #f5f5f5;
    width: 60%;
    height: 356px;
    padding: 48px 64px;

    border-radius: 4px;
    border: 1px solid #be141a;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: 768px) {
      width: 90%;
      height: 280px;

      padding: 24px 32px;
    }
  }

  &--qr {
    background-color: #f5f5f5;
    width: 38%;
    height: 356px;
    margin: 0 12px;

    border-radius: 4px;
    border: 1px solid #be141a;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 768px) {
      margin-top: 32px;
      width: 90%;
      height: 280px;
    }

    .center {
      display: flex;
      flex: 1;
      justify-content: center;
      box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25);

      canvas {
        width: 100% !important;
      }
    }
  }
}

// ============================================================================
// DESIGN
.title {
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
  color: #292929;
  font-weight: 700;
  display: inline;

  position: relative;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #be141a;
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    border-radius: 4px;
  }

  // ! TODO the Animation: bottom line moving in from left
}

// * LAYOUT INPUTS BLOCK
.input {
  &-block {
    width: 100%;
    position: relative;
    text-align: left;

    &:nth-of-type(2) {
      margin-top: 24px;
    }

    input {
      width: 100%;
      padding: 8px 24px;
      font-size: 16px;
      font-weight: 400;
      border-radius: 50px;
      border: 1px solid #999;
      color: #434343;

      transition: 0.3s all ease;

      &:focus {
        outline: none;
        border-color: #be141a;

        & ~ label {
          top: 0;
          left: 16px;
          transform: translateY(-100%);
          font-size: 12px;
          color: #be141a;
        }
      }

      &:not(:placeholder-shown) ~ label {
        top: 0;
        left: 16px;
        transform: translateY(-100%);
        font-size: 12px;
        color: #be141a;
      }
    }

    label {
      font-size: 16px;
      font-weight: 400;
      color: #999;
      position: absolute;
      left: 24px;
      top: 50%;
      transform: translateY(-50%);

      transition: 0.3s all ease;
    }
  }

  &-submits {
    margin-top: 32px;
    display: flex;
    justify-content: space-evenly;
    gap: 12px;

    a {
      padding: 12px 18px;
      font-size: 16px;
      font-weight: 500;
      color: #434343;
      text-decoration: none;
      border: 1px solid #434343;
      border-radius: 50px;
      transition: 0.1s all ease-in;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    }

    a:hover {
      color: #be141a;
      border-color: #be141a;
      transform: translateY(-2px);
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    }

    a:active {
      transform: translateY(-1px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    }
  }
}
